{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "8.11.4"
                }
            }
        ]
    ],
    "plugins": [
        "node_modules/jsdoc-babel",
        "babel-plugin-transform-decorators-legacy",
        "transform-object-rest-spread"
    ]
}